
nav {
  display: flex;
  justify-content: flex-end;
  background-color: $backgroundNav;
  padding: 0 20px;
  height: 70px;
  width: 100%;

}

nav a {
  align-self: center;
  color: $colorText;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

.navigation {
  list-style-type: none;
  display: flex;

  align-items: center;
}

.navigation a {
  display: block;
  padding: 16px;

}

.navigation a:hover {
  background-color: $borderText;
  border-radius: 0  20px  0 0;

}



.about_me {
  .container-me {
    height: 45rem;
    background: $colorText;
    color: $backgroundNav;
    font-size: 1.3rem;
    @include flex(space-around, center);

    .text-me {
      width: 50%;
    }

    .myphoto {
      background-image: url('../../img/myself.jpg');
      background-repeat: no-repeat;
      background-position:  50% 20%;
      background-size: cover;
      width: 380px;
      height: 380px;
      border-radius:  0  0 25% 0;

    }
  }
}




@media (max-width: 600px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  nav a {
    align-self: flex-start;
  }
  .navigation {
    flex-direction: column;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgb(255, 255, 255, 0.3);
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  }
  .navigation li:last-child {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .responsive .navigation li:not(:last-child) {
    display: none;
  }
  .navigation li:last-child a {
    border-bottom: none;
  }
}
