* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: #001C30;
  padding: 0 20px;
  height: 70px;
  width: 100%;
  position: fixed;
}

nav a {
  align-self: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

.navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navigation a {
  display: block;
  padding: 16px;
}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 20px 0 0;
}

.about_me .container-me {
  height: 45rem;
  background: white;
  color: #001C30;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about_me .container-me .text-me {
  width: 50%;
}
.about_me .container-me .myphoto {
  background-image: url("../../img/myself.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  width: 380px;
  height: 380px;
  border-radius: 0 0 25% 0;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  nav a {
    align-self: flex-start;
  }
  .navigation {
    flex-direction: column;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-child {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
  }
  .responsive .navigation li:not(:last-child) {
    display: none;
  }
  .navigation li:last-child a {
    border-bottom: none;
  }
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  background: #001C30;
  color: white;
}
.home .home-text {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 80px 0 0;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 0 30px;
}
.home h1 {
  font-size: 4rem;
}
.home h3 {
  padding-bottom: 26px;
}
.home p {
  font-size: 1.3rem;
}
.home .myphoto {
  background-image: url("../../img/myself.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  width: 350px;
  height: 350px;
  border-radius: 0 0 0 80px;
}

@media (max-width: 425px) {
  .home {
    width: 80%;
    flex-direction: column;
    height: 50rem;
  }
}
.skills {
  background-color: #001C30;
  color: white;
  height: 15rem;
}
.skills ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skills ul li {
  background-color: rgba(255, 255, 255, 0.3);
}
.skills li {
  list-style-type: none;
  height: 5rem;
}

footer {
  height: 10rem;
  background: #001C30;
  color: white;
}
footer .contact {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: center;
}
footer .contact .icon {
  color: #001C30;
  font-size: 2.5rem;
  padding: 10px;
  text-decoration: none;
}

html {
  font-family: sans-serif;
}

/*# sourceMappingURL=style.css.map */
